html
  head
    title Feedback Form
    style 
        include ../static/contact.css

  body
    h1 Feedback Form

    form(action="/contact", method="post")
      label(for="name") Name:
      input(type="text", id="name", name="name", required)

      label(for="phone") Phone Number:
      input(type="tel", id="phone", name="phone", required)

      label(for="email") Email ID:
      input(type="email", id="email", name="email", required)

      label(for="address") Address:
      textarea(id="address", name="address", rows="4", cols="50", required)

      label(for="feedback") Enter your feedback:
      textarea(id="feedback", name="feedback", rows="8", cols="50", required)

      input(type="submit", value="Submit")
