doctype html 
html 
    head 
        style 
            include ../static/style.css
    
    body 
        nav.navbar
            a.navbar-brand(href="#") My Website
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="#home") Home
                li.nav-item
                    a.nav-link(href="#about") About
                li.nav-item
                    a.nav-link(href="#services") Services
                li.nav-item
                    a.nav-link(href="/contact") Contact

            .sign-up 
                a(href="") signup
                .logo
        section#section1 

        section#section2 

        footer#foot 

        script(src="../static/script.js") 